<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swaas.mwc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.pixelpoint.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name=".MWCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Utils.SplashScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FTL.FTLActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FTL.FTLRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FTL.FTLPinVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FTL.FTLUserValidationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FTL.FTLPasswordValidationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.Notifiy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.PinVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.Touchid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.Verify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FTL.FTLAgreeTermsAcceptanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FTL.WebviewLoaderTermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginAgreeTermsAcceptanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginHelpUserGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DMS.MyFoldersDMSActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".DMS.MyFolderCopyActivity"/>
        <activity android:name=".DMS.MyFolderCategoryActivity"/>
        <activity android:name=".DMS.UploadListActivity"></activity>
        <activity
            android:name=".DMS.MyFolderSharedDocuments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DMS.Tab_Activity"
            android:label="Document Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Common.PDFViewer"
            android:screenOrientation="portrait" />
        <activity android:name=".DMS.MyFolderEndUserAllowedSharedFoldersActivity" />
        <activity android:name=".DMS.MyFolderActivity" />
        <activity android:name=".pdf.PdfViewActivity" />
        <activity android:name=".DMS.MyfolderDeleteActivity" />
        <receiver android:name=".ReadSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d96603e1352aa9824c02ecac1485febe32590ab7" />

        <activity android:name=".OffLine_Files_List" />
        <activity android:name=".UserProfileActivity"></activity>
    </application>

</manifest>